.square {
  width: 150px;
  height: 150px;
  background-color: purple;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}

.circle {
  width: 150px;
  height: 150px;
  background-color: purple;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
  border-radius: 50%;
}
